.backgroundModalChargeRegistration {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 154, 150, 0.30);
    backdrop-filter: blur(2px);
    z-index: 99;
}

.formModalChargeRegistration {
    width: 570px;
    height: 700px;
    top: 84px;
    left: 476px;
    padding: 50px;
    border-radius: 30px;
    background: #FFF;
}

.h1ModalChargeRegistration {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.imgModalChargeRegistration {
    width: 32px;
    height: 32px;
}

.imgAndButtonModalChargeRegistration {
    display: flex;
    justify-content: space-between;
}

.buttonCloseModalUpdateCharge {
    all: unset;
    cursor: pointer;
    width: 32px;
    height: 35.512px;
    margin-right: 23px;
}

.labelInputChargeRegistrationName {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;
    font-size: 18px;
}

.inputModalChargeRegistrationName {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.labelInputChargeRegistrationDescricao {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;

}

.inputModalChargeRegistrationDescricao {
    height: 88px;
    padding-bottom: 4px;
}

.labelInputChargeRegistrationVencimento {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;
    max-width: 50%;
}

.divVencimentoValorChargeRegistration>div {
    max-width: 50%;
}

.gapForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.labelInputChargeRegistrationValor {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;
    max-width: 50%;
}

.divVencimentoValor {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.h3Status {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.labelChargeUpdateStatus {
    color: var(--Cinzas-Cinza-2, #3F3F55);
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.divStatus {
    display: flex;
    align-items: center;
    width: 487px;
    height: 44px;
    padding: 12px 16px;
    gap: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    background: var(--Cinzas-Cinza-7, #F0F0F5);
}

.buttonsModalUpdateCharge {
    display: flex;
    justify-content: space-between;
}

.buttonChargeUpdateCancelar {
    cursor: pointer;
    display: inline-flex;
    padding: 4px 81.5px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--Cinzas-Cinza-6, #DEDEE9);
    background: var(--Cinzas-Cinza-8, #F8F8F9);
    color: var(--principais-verde-normal, #0E8750);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonChargeUpdateAplicar {
    cursor: pointer;
    display: flex;
    height: 34px;
    padding: 4px 87.25px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid var(--Cinzas-Cinza-6, #DEDEE9);
    background: var(--color03);
    color: #fff;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputClicked,
.inputNotClicked {
    all: unset;
    width: 24px;
    height: 24px;
    border-radius: 10px;
}

.inputNotClicked {
    background-image: url(../../assets/CheckboxGrey.svg);
}

.inputClicked {
    background-image: url(../../assets/CheckBonGreen.svg);
}